<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.car.dao.CarDao">

    <!--<resultMap id="Car" type="org.car.domain.Car">-->
        <!--<id property="car_id" column="car_id" />-->
        <!--<result column="car_name" property="car_name" jdbcType="VARCHAR"/>-->
        <!--<result column="car_image_name" property="car_image_name" jdbcType="VARCHAR"/>-->
        <!--<result column="car_created_time" property="car_created_time" jdbcType="VARCHAR"/>-->
        <!--<result column="is_visual" property="is_visual" jdbcType="INTEGER"/>-->

    <!--</resultMap>-->

    <insert id="addCar" parameterType="org.car.domain.Car">
        insert into car values (#{car_id}, #{car_name}, #{6d22a913-1b3e-49d9-88d0-5e2e9621439f.png}, #{car_created_time}, #{car_status},#{type_id},#{store_id})
    </insert>

    <select id="getCarList" resultType="org.car.domain.Car">
        select * from car
    </select>

    <select id="getCar" resultType="org.car.domain.Car">
        SELECT * from car where car_id=#{0}
    </select>

    <update id="updateCar" parameterType="org.car.domain.Car">
        update car set car_name=#{car_name}, car_image_name=#{car_image_name}, car_status=#{car_status},
        type_id=#{type_id}, store_id=#{store_id} where car_id=#{car_id}
    </update>

    <!--<select id="getCarListByType" parameterType="java.lang.String" resultType="org.car.domain.Car">-->
        <!--select * from car where car_model=#{0}-->
    <!--</select>-->

    <insert id="addCarType" parameterType="org.car.domain.CarType">
        insert into car_type values (#{type_id}, #{type_name}, #{brand}, #{gear_box}, #{sunroof},#{seat},#{reverse_sensor},#{displacement},
        #{fuel_tankage},#{sound_box},#{price},#{car_size},#{style})
    </insert>

    <select id="getCarTypeList" resultType="org.car.domain.CarType">
        select * from car_type
    </select>

    <select id="getCarType" resultType="org.car.domain.CarType">
        SELECT * from car_type where type_id=#{0}
    </select>

    <update id="updateCarType" parameterType="org.car.domain.CarType">
        update car_type set type_name=#{type_name}, brand=#{brand}, gear_box=#{gear_box}, sunroof=#{sunroof}, seat=#{seat},
        reverse_sensor=#{reverse_sensor},displacement=#{displacement} , fuel_tankage=#{fuel_tankage}, sound_box=#{sound_box},
        price=#{price}, car_size=#{car_size},style=#{style}where type_id=#{type_id}
    </update>

    <select id="getCarAvailable" resultType="org.car.domain.CarType" >
        select * from car_type where type_id = (select distinct type_id from car where store_id=#{0} and car_status!=1)
    </select>

    <select id="getAvailableSingleCarId" resultType="java.lang.Integer" >
        select min(car_id) from car where type_id = #{0} and store_id=#{1} and car_status!=1
    </select>

    <update id="updateCarStatus" parameterType="org.car.domain.Car">
        update car set car_status=1 where car_id=#{car_id}
    </update>


</mapper>